<include href="header.html" with="submenu=attendance"/>
<h1><i class="fa fa-list-alt" aria-hidden="true"></i> Class Attendance
</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Sessions</th>
        <th>Reports</th>
      </tr>
    </thead>
    <tbody>
	<repeat group="{{ @classes }}" value="{{ @item }}">
	      <tr>
	      	<td>{{ trim(@item['name']) }}</td>
	        <td>

          <check if="{{ @item.type=='ongoing' }}">
            <true>
              <a href="attendance/ongoing/{{@item['id']}}/{{ date('Y-m-d') }}">
 Check In</a>
            </true>
            <false>
            Sessions:
            <loop from="{{ @i=1}}" to="{{ @i <= @item['sessions'] }}" step="{{ @i++ }}">
              <a href="attendance/{{@item['id']}}/{{@i}}"> {{ @i }} </a>|
            </loop>
            </false>
          </check>

          </td>
	        <td>

            <check if="{{ @item.type=='ongoing' }}">
            <true>
              <a href="reports/ongoing/{{date('Y')}}/{{date('m')}}/{{@item['id']}}">Report</a>
            </true>
            <false>
              <a href="reports/{{@item['id']}}">Report</a>
            </false>
          </check>

        </td>
	      </tr>
	</repeat>

    </tbody>
  </table>
<include href="footer.html" />
