<include href="header.html" />
<h1><i class="fa fa-area-chart" aria-hidden="true"></i> Class Reports
</h1>


	<repeat group="{{ @classes }}" value="{{ @item }}">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><i class="fa fa-university" aria-hidden="true"></i> {{ trim(@item['name']) }}</div>
  <div class="panel-body">
            <check if="{{ @item.type=='ongoing' }}">
            <true>
            This is an ongoing class - reports are split into monthly periods with each session recorded as a week number.<br>
              <repeat group="{{ @range[@item['id']] }}" key="{{ @key }}" value="{{ @value }}">
              <br><b>Reports for {{@key}}</b><br>
              <repeat group="{{ @value }}" value="{{ @month }}">
              <a href="{{@BASE}}/reports/ongoing/{{@key}}/{{ @month }}/{{ @item['id'] }}">{{ @month }}</a>
              </repeat>
              <br>
              </repeat>
            </true>
            <false>
            This is one off class - a single report covers all sessions.<br><br>
              <a href="{{@BASE}}/reports/{{@item['id']}}">Report</a>
            </false>
          </check>
  </div>
  </div>
	</repeat>

<include href="footer.html" />
