<include href="header.html" />
<h1><i class="fa fa-list-alt" aria-hidden="true"></i> Class Report for {{@classdetails['name']}}
<div class="controls">
<a href="{{@BASE}}/reports/ongoing/export/{{@year}}/{{@monthnum}}/{{@classdetails['id']}}"><i class="fa fa-download" aria-hidden="true"></i> Download Report</a>
</div>
</h1>
{{@classdetails['name']}} attendance &amp; financial report for {{@month}} {{@year}}.
<br><br>
<table cellspacing="0" class="table table-striped table-bordered">
<thead>
<tr>
<th>Member</th>
<th>Payment Type</th>
<loop from="{{ @i=0 }}" to="{{ (@i+1) <= count(@reportsessions) }}" step="{{ @i++ }}">
<th colspan="2"><a href="{{@BASE}}/attendance/ongoing/{{@PARAMS.class_id}}/{{@reportsessions[@i]['date']}}" target="_blank">{{ date_format(date_create(@reportsessions[@i]['date']),'d/m/Y') }}</a></th>
</loop>
<th>Balance</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<repeat group="{{ @subdetails }}" value="{{ @item }}">
<tr>
<td><b>{{@item['membername']}}</b></td>
<td>{{ @item['payment_type']=='directdebit'?'Direct Debit':'PAYG / Cash'}}</td>

<loop from="{{ @i=0 }}" to="{{ @i <= (count(@reportsessions)-1) }}" step="{{ @i++ }}">
<td>
  {{ number_format(@reportdetails[@item['member_id']][@reportsessions[@i]['date']],2) }}
</td>
<td>
<check if="{{ @reportdetails[@item['member_id']][@reportsessions[@i]['date']]==NULL }}">
<true>
<span style="color:#d43f3a;">&#10008;</span>
</true>
<false>
<span style="color:#468847;">&#10004;</span>
</false>
</check>
</td>
</loop>
<td>
  &euro; {{ number_format(@classdetails['cost']-@reportdetails[@item['member_id']]['balance'],2) }}
</td>
<td>
<check if="{{ @reportdetails[@item['member_id']]['details']==NULL }}">
<true>
</true>
<false>
<a href="#" data-toggle="modal" data-target="#infomodal" data-info="{{ @reportdetails[@item['member_id']]['details']}}"><i class="fa fa-commenting-o" aria-hidden="true"></i> Notes</a>
</false>
</check>
</td>
</tr>
</repeat>
</tbody>
<thead>
<tr>
<th></th>
<th></th>
<loop from="{{ @i=0 }}" to="{{ @i <= (count(@reportsessions)-1) }}" step="{{ @i++ }}">
<th colspan="2">{{number_format(@classtotals[@reportsessions[@i]['date']],2)}}</th>
</loop>
<th></th>
<th></th>
</tr>
</thead>
</table>

<include href="infomodal.html" />
<include href="footer.html" />
