<include href="header.html" with="submenu=back">
<h1><i class="fa fa-user-plus" aria-hidden="true"></i> Add user</h1>
<form action="{{ @BASE }}/user/add" method="POST" name="useradd">
<div class="form-group col-md-4">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="User First Name"></br>
	<label for="lastname">Last Name</label>
    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="User Last Name"></br>
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="User Email"></br>
	<label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="User Username"></br>

	<label>Password</label>
	<input type="password" class="form-control" id="password" name="password" value=""><br>
	<label>Check Password</label>
	<input type="password" class="form-control" id="check_password" name="check_password" value=""><br>

	<label for="role">Role</label>
    <select type="text" class="form-control" name="role" id="role" placeholder="User Member Role">
		<option value="admin">Admin</option>
		<option value="instructor">Instructor</option>
	</select></br>
		<input type="submit" value="Add User" class="btn btn-default btn-custom">
</div>
</form>
<script type="text/javascript">
var validator = new FormValidator('useradd', [
{
name: 'firstname',
display: 'First Name',
rules: 'required'},
{
name: 'lastname',
display: 'Last Name',
rules: 'required'},
{
name: 'email',
display: 'Email address',
rules: 'required|valid_email'},
{
name: 'username',
display: 'Username',
rules: 'required'},
{
name: 'password',
display: 'Password',
rules: 'required'},
{
name: 'check_password',
display: 'Check Password',
rules: 'required|matches[password]'}
],
function(errors, event) {
    if (errors.length > 0) {
        var message='';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
            message+=errors[i].message + '<br>';
        }

        errormodal(message);
    }
});
</script>
<include href="errormodal.html" />
<include href="footer.html" />