<include href="headerauth.html" />
<h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>
<form action="{{@BASE}}/auth" method="POST">
</br>
<div class="form-group col-md-offset-4 col-md-3 col-xs-12">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="User Email"></br>
	<label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="User password"></br>
    <div class="text-center">
	<input type="submit" value="Login" class="btn btn-custom">
	</div>
</div>
</form>