<include href="header.html" with="submenu=back">
<h1><i class="fa fa-user" aria-hidden="true"></i> Edit user</h1>
<form action="{{@BASE}}/user/edit/{{ @POST.id }}" method="POST" name="useredit">
    <div class="form-group col-md-4">
        <label>Firstname</label>
        <input class="form-control" id="firstname" name="firstname" value="{{ @POST.firstname }}"><br>
        <label>Lastname</label>
        <input class="form-control" id="lastname" name="lastname" value="{{ @POST.lastname }}"><br>
        <label>Email</label>
        <input class="form-control" id="email" name="email" value="{{ @POST.email }}"><br>
        <label>Username</label>
        <input class="form-control" id="username" name="username" value="{{ @POST.username }}"><br>
        <label>Password</label>
        <input type="password" class="form-control" id="password" name="password" value=""><br>
        <label>Check Password</label>
        <input type="password" class="form-control" id="check_password" name="check_password" value=""><br>
        <label>Role</label>
        <select class="form-control" id="role" name="role">
            <option value="admin" {{ @POST.role=='admin'?'selected="selected"':'' }}>Admin</option>
            <option value="instructor" {{ @POST.role=='instructor'?'selected="selected"':'' }}>Instructor</option>
        </select>
        <br>
        <input type="submit" value="Update User" class="btn btn-default btn-custom">
    </div>
</form>
<script type="text/javascript">
    var validator = new FormValidator('useredit', [
            {
                name: 'firstname',
                display: 'First Name',
                rules: 'required'
            },
            {
                name: 'lastname',
                display: 'Last Name',
                rules: 'required'
            },
            {
                name: 'email',
                display: 'Email address',
                rules: 'required|valid_email'
            },
            {
                name: 'username',
                display: 'Username',
                rules: 'required'
            },
            {
                name: 'check_password',
                display: 'Check Password',
                rules: 'matches[password]'
            }
        ],
        function (errors, event) {
            if (errors.length > 0) {
                var message = '';

                for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
                    message += errors[i].message + '<br>';
                }

                errormodal(message);
            }
        });
</script>
<include href="errormodal.html"/>
<include href="footer.html"/>