<include href="header.html" with="submenu=addclass"/>
<h1><i class="fa fa-graduation-cap aria-hidden="true"></i> Class Manager</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-xs">Type</th>
        <th class="hidden-xs">Sessions</th>
        <th class="hidden-xs">Start Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

<repeat group="{{ @all }}" value="{{ @item }}">
      <tr>
      <td><a href="{{@BASE}}/class/edit/{{ @item['id'] }}">
        {{ trim(@item['name']) }}</a></td>
        <td class="hidden-xs">
          <check if="{{ @item['type']=='ongoing' }}">
          <true>On Going</true>
          <false>Fixed Term</false>
          </check>

        </td>
        <td class="hidden-xs">
        <check if="{{ @item['type']=='ongoing' }}">
        <true>
        -
        </true>
        <false>
        {{ trim(@item['sessions']) }}
        </false>
        </check>
        </td>
        <td class="hidden-xs">{{ date_format(date_create(@item['date']),'d/m/Y') }}</td>
        <td>
          <check if="{{ @item['status']==active }}">
            <true>
            <a href="{{@BASE}}/class/status/{{ @item['id'] }}" class="toggle-status-active">Active</a>
            </true>
            <false>
            <a href="{{@BASE}}/class/status/{{ @item['id'] }}" class="toggle-status-inactive">Inactive</a>
            </false>
          </check>
        </td>
      </tr>
</repeat>

          </tbody>
  </table>
<include href="footer.html" />
