<include href="header.html" with="submenu=back">
<h1>Class Enrollement</h1>
<form action="{{@BASE}}/subscription/add" method="POST">
<div class="form-group col-md-6">
<label>Member </label><select class="form-control" id="member_id" name="member_id">
<repeat group="{{ @members }}" value="{{ @item }}">
<option value="{{ trim(@item['id']) }}">{{ @item['firstname'] }} {{ @item['lastname'] }}</option>
</repeat>
</select>
<br>
<label>Class</label><select class="form-control" id="class_id" name="class_id">
<repeat group="{{ @classes }}" value="{{ @item }}">
<option value="{{ trim(@item['id']) }}">{{ @item['name'] }}</option>
</repeat>
</select>
<br>
<label>Payment Type</label><select class="form-control" id="payment_type" name="payment_type">
<option disabled selected>Please Select</option>
<option value="directdebit">Direct Debit</option>
<option value="payg">Pay as you go</option>
<option value="paypal">PayPal</option>
</select>
<br>
Send SMS Confirmation <input type="checkbox" name="sendsms" id="" value="1">
<br><br>
<input type="submit" value="Enroll Member" class="btn btn-default btn-custom">
</div>
</form>
<include href="footer.html" />