<check if="{{ @submenu=='adduser' }}">
<a href="{{@BASE}}/user/add"><i class="fa fa-user-plus" aria-hidden="true"></i> Add User</a>
</check>

<check if="{{ @submenu=='addmember' }}">
<a href="{{@BASE}}/member/add"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Member</a><span> | </span>
<a href="{{@BASE}}/members/export"><i class="fa fa-download" aria-hidden="true"></i> Export Members</a>
</check>

<check if="{{ @submenu=='addsubscriber' }}">
<a href="{{@BASE}}/subscribers/add"><i class="fa fa-user-plus" aria-hidden="true"></i> Add subscriber</a><span> | </span>
<a href="{{@BASE}}/subscribers/export"><i class="fa fa-download" aria-hidden="true"></i> Export subscribers</a>
</check>

<check if="{{ @submenu=='addclass' }}">
<a href="{{@BASE}}/class/add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Class</a>
</check>

<check if="{{ @submenu=='attendance' }}">
<a href="{{@BASE}}/attendance/retrospective"><i class="fa fa-cog" aria-hidden="true"></i>
 Modify Attendance</a>
</check>

<check if="{{ @submenu=='back' }}">
 <a href="javascript:history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i>
  Back</a>
</check>