<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<title>{{@title}}</title>
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{@BASE}}/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link href="{{@BASE}}/css/style.min.css" rel="stylesheet">
<!-- Fontawesome Icons -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<check if="{{ @calendar=='active' }}">
<true>
<!-- Bootstrap Date Picker -->
<link rel="stylesheet" href="{{@BASE}}/css/bootstrap-datepicker.min.css" />
</true>
</check>
<check if="{{ @listfilter=='active' }}">
<true>
<!-- List filter lib -->
<script src="{{@BASE}}/js/list.min.js"></script>
</true>
</check>
<check if="{{ @validate=='active' }}">
<true>
<script src="{{@BASE}}/js/validate.min.js"></script>
</true>
</check>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="prenav" id="prenav" style="background-color: #303357">
<div class="container text-right"> <a href="{{@BASE}}/signout"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
</div>
</div>
<div class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a href="/"><img src="{{@BASE}}/images/logo.gif" class="logo">
    </a>
</div>
<div class="navbar-collapse collapse">
    <ul id="nav_list" class="nav navbar-nav navbar-right">
        <li id="navhome" class=""><a href="{{@BASE}}/">Home</a>
        </li>
        <script>
            let list = document.getElementById("nav_list");
            let navMenuItems = ['{{implode("','", @menuitems)}}'];
            for(let i = 0; i < navMenuItems.length;i++){
                let navMenuItem = navMenuItems[i];
                let li = document.createElement("li");
                li.setAttribute("id", "nav"+navMenuItem);
                let a = document.createElement("a");
                a.setAttribute("href", "{{@BASE}}/"+navMenuItem);
                a.text = navMenuItem;
                li.appendChild(a);
                list.appendChild(li);
            }
        </script>
    </ul>
</div>
<!--/.nav-collapse -->
</div>
</div>
<div class="subnav">
<div class="container text-left">
<include href="controls.html" />
</div>
</div>
<!-- Begin page content -->
<div id="main" class="container">