<include href="header.html" />
<h1><i class="fa fa-home" aria-hidden="true"></i> Welcome</h1>

<script src="{{@BASE}}/js/Chart.min.js"></script>
<div class="row" id="homenav">


<div id="attendance" class="homeico col-xs-6 col-sm-2 col-md-2 text-center" style="display:none">
<a href="{{@BASE}}/attendance" class="icolink"><i class="fa fa-5x fa-list-alt" aria-hidden="true"></i>
<br>
Attendance</a>
</div>

<div id="classes" class="homeico col-xs-6 col-sm-2 col-md-2 text-center" style="display:none">
<a href="{{@BASE}}/classes" class="icolink"><i class="fa fa-5x fa-graduation-cap" aria-hidden="true"></i>
<br>
Classes</a>
</div>


<div id="reports" class="homeico col-xs-6 col-sm-2 col-md-2 text-center" style="display:none">
<a href="{{@BASE}}/reports" class="icolink"><i class="fa fa-5x fa-area-chart" aria-hidden="true"></i>
<br>
Reports</a>
</div>

<div id="members" class="homeico col-xs-6 col-sm-2 col-md-2 text-center" style="display:none">
<a href="{{@BASE}}/members" class="icolink"><i class="fa fa-5x fa-users" aria-hidden="true"></i>
<br>
Members</a>
</div>

<div id="users" class="homeico col-xs-6 col-sm-2 col-md-2 text-center" style="display:none">
<a href="{{@BASE}}/users" class="icolink"><i class="fa fa-5x fa-user" aria-hidden="true"></i>
<br>
Users</a>
</div>

<div id="charts" class="homeico col-xs-6 col-sm-2 col-md-2 text-center" style="display:none">
<a href="{{@BASE}}/charts" class="icolink"><i class="fa fa-5x fa-pie-chart" aria-hidden="true"></i>
<br>
Charts</a>
</div>
</div>

<div class="row">
<div class="col-sm-6 col-md-3">
<canvas id="myChart" width="400" height="400"></canvas>
</div>
<div class="col-sm-6 col-md-3">
<canvas id="iamChart" width="400" height="400"></canvas>
</div>
<div class="col-md-6">
<canvas id="classChart" width="" height=""></canvas>
</div>
</div>
<script>
var menuItems = ['{{implode("','", @menuitems)}}'];
for(var i = 0; i < menuItems.length;i++){
    var menuItem = menuItems[i];
    var div = document.getElementById(menuItem);
    div.style.display = 'block';
}
</script>

<include href="footer.html" />
