<div class="modal fade" id="classsub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Unsubscribe User?</h4>
      </div>
      <div class="modal-body">
Are you sure you want to remove 
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-custom rembutton">Remove</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="memberssub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Unsubscribe User?</h4>
      </div>
      <div class="modal-body">
Are you sure you want to remove 
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-custom rembutton">Remove</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userdel" tabindex="-1" role="dialog" aria-labelledby="UserDeleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="UserDeleteLabel">Delete User?</h4>
      </div>
      <div class="modal-body">
Are you sure you want to remove 
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-custom rembutton">Remove</a>
      </div>
    </div>
  </div>
</div>