<include href="header.html"/>
<script src="{{@BASE}}/js/Chart.min.js"></script>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="col-sm-6 col-md-3">
    <canvas id="iamChart" width="400" height="400"></canvas>
  </div>
  <div class="col-md-6">
    <canvas id="classChart" width="" height=""></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Active", "Inactive"],
        datasets: [{
            label: '# of Members',
            data: [{{@overview['active']}}, {{@overview['inactive']}}],
            backgroundColor: [
                "#FEA13D",
                "#FEC63D"
            ]
    }]
},

    options: {
        title: {
            display: true,
            text: 'Membership Overview'
        },
         legend: {
            display: false
        }
    }

});

var iam = document.getElementById("iamChart");
var myChart = new Chart(iam, {
    type: 'doughnut',
    data: {
        labels: ['{{implode("','", @iamlabels)}}'],
        datasets: [{
            label: '# of Members',
            data: ['{{implode("','", @iamdata)}}'],
            backgroundColor: [
            <loop from="{{ @i=0 }}" to="{{ @i<6 }}" step="{{ @i++ }}">
            "{{@colors[@i]}}",
            </loop>
            ]
    }]
},

    options: {
        title: {
            display: true,
            text: 'Membership Breakdown'
        },
         legend: {
            display: false
        }
    }

});

var classsubs = document.getElementById("classChart");
var myChart = new Chart(classsubs, {
    type: 'bar',
    data: {
        labels: ['{{implode("','", @classlabels)}}'],
        datasets: [{
            label: '# of Members',
            data: ['{{implode("','", @classdata)}}'],
            backgroundColor: [
            <loop from="{{ @i=0 }}" to="{{ @i<count(@classlabels) }}" step="{{ @i++ }}">
            "{{@colors[@i]}}",
            </loop>
            ]
    }]
},

    options: {
        title: {
            display: true,
            text: 'Class Subscriptions'
        },
         legend: {
            display: false
        },
        scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
            }]
        },
        scales:
        {
            xAxes: [{
                display: false
            }]
        }
    }

});

</script>
<include href="footer.html" />
